.header__lang {
   display: grid;
   gap: 18px;
   grid-template-columns: 1fr 0fr;
   list-style-type: none;
   align-items: flex-end;
   margin: 0;
   padding: 0 0 5px;
}

.header__item:last-of-type {
   margin: 0;
}