.intro__list {
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.5;
   margin-top: 33px;
   margin-bottom: 0;
   padding: 0;
   list-style: none;
}

@media screen and (max-width: 568px) {
   .intro__list {
      margin-top: 34px;
   }
}